@input-border-color: rgba(161, 161, 161, .57);
@input-border: 1px solid @input-border-color;
@input-fill-color: #fff;
@input-text-color: #000;
@transparent-red-font: rgba(195, 58, 36, 0.8);
@form-red: @red-font;
input{
	&:-moz-placeholder {
		font-size: 12px;
	}
	&:-ms-input-placeholder {
		font-size: 12px;
	}
	&::-webkit-input-placeholder {
		font-size: 12px;
	}
}
.input-group-addon {
	font-size: 12px !important;
}


.form-control {
	background: none repeat scroll 0 0 #FFFFFF;
	border: 1px solid @grey;
	color: #3f3f3f;
	margin: 0;
	border-radius: 0px;
	box-shadow: none;
	padding: 4px 6px;
	height: auto;
	width: 100%;
}
.form-control:focus {
	border-color: #98adcd;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.015) inset, 0 0 4px rgba(33, 88, 132, 0.15);
}

input.form-control {
	&{
		line-height: 20px;
		height: 26px;
	}
}

.type-text-wrap-input{
	position: relative;

	i{
		display: none;
		position: absolute;
		height: 100%;
		cursor: pointer;
		font-size: 10px;
		color: #808080;
	}

	.inputLabel{
		position: absolute;
		top: 0;
		left: 2px;
		line-height: 26px;
		//color: @form-red;
		cursor: pointer;
		z-index: 100;
		&:hover{
			text-decoration: underline;
		}
	}

	&.has_date{
		i {
			display: block;
		}
		span{
			display: none;
		}
	}

	input{
		&[readonly]{
			cursor: pointer;
		}

		&.type-text{
			background: transparent;
			border-color: transparent;
			box-shadow: none;
			margin-left: -5px;
			color: @form-red;
		}
	}
}

select.form-control{
	width: auto;

	+ .chosen-container {
		font-size: 14px;

		.chosen-single, .chosen-drop{
			border-radius: 0;
			box-shadow: none;
		}

		&:hover{
			.chosen-single{
				div b{
					background-color: @hover-base;
					border-left: @input-border;
				}
			}
		}

		.chosen-single{
			.form-control;
			padding: 2px 6px;
			div{
				width: 24px;
				b{
					background-position: 6px 3px;
					border: 1px solid transparent;
					transition: background-color ease 10ms;
				}
			}
		}

		.chosen-drop{
			.chosen-results {
				max-height: 175px !important;
				padding: 0;
				margin: 0;

				li{
					color: #333;
					&.result-selected{
						background-image:none;
						background-color: @hover-base;
						color: #333;
					}
					&.highlighted{
						background-image:none;
						background-color: @form-red;
						color: #fff;
					}
				}
			}
		}

		&, &.chosen-container-active, &.chosen-with-drop, {
			.chosen-single{
				background-image: none;
				padding: 4px 6px;
				height: 26px;
				line-height: 16px;
			}
		}

		&.chosen-with-drop{
			div b{
				background-color: @hover-base;
				border-left: @input-border;
				background-position: -12px 2px;
			}
		}
		&.chosen-container-active{
			.chosen-single, .chosen-drop{
				div b{
					background-color: @hover-base;
					border-left: @input-border;
				}
			}
		}
	}

	&.bold-selected {
		+ .chosen-container {
			span {
				font-weight: bold;
			}
		}
	}

	&.type-text {
		+ .chosen-container {
			margin-left: -5px;
			.chosen-single{
				background: none;
				border-color: transparent;
				color: #000;
				cursor: default;

				> span {
					display: inline-block;
					border-bottom: 2px dotted @blue;
					margin-right: 0;
					&:hover {
						color: @blue;
						cursor: pointer;
					}
				}

				> div {
					display: none;
				}
			}
			&.chosen-container-active {
				.chosen-single {
					box-shadow: none;
				}
			}

			&.chosen-with-drop {
				.chosen-single {
					background: @input-fill-color;
					border-color: @input-border !important;
					color: #333;
					> span {
						border-bottom: none;
					}
					&:hover{
						> span{
							&:hover{
								text-decoration: none;
								cursor: pointer;
							}
						}
					}
					> div{
						display: block;
					}
				}

				&.chosen-container-active {
					cursor: pointer;
					.chosen-single{
						box-shadow: 0 1px 1px rgba(0, 0, 0, 0.015) inset, 0 0 4px rgba(33, 88, 132, 0.15);
						border: @input-border;

						color: #333;

						&:hover{
							text-decoration: none;
						}
					}
				}
			}
		}
	}

	&.more-height {
		+ .chosen-container {
			font-size: 16px;
			&:hover{
				.chosen-single {
					div b {
						background-color: @hover-base;
						border-left: @input-border;
					}
				}
			}
			.chosen-single {
				background: @input-fill-color;
				border: @input-border;
				div {
					width: 46px;
					b {
						background-image: none !important;
						background-size: auto !important;
						&::after {
							display: inline-block;
							position: absolute;
							left: 18px;
							font-size: 22px;
							color: #000;
							font-family: "FontAwesome";
							content: "\f0d7";
						}
					}
				}
			}
			.chosen-drop {
				.chosen-results {
					li {
						padding: 8px 12px;
					}
				}
			}
			&, &.chosen-container-active, &.chosen-with-drop, {
				.chosen-single {
					padding: 0 20px;
					height: 46px;
					line-height: 46px;
					font-size: 18px;
					background: @input-fill-color;
					border-radius: 2px;
					border-color: @input-border-color;
				}
			}
			&.chosen-with-drop {
				div b {
					&::after {
						content: "\f0d8";
					}
				}
			}
		}
	}
}

.form-horizontal .control-label {
	font-weight: normal;
	padding-top: 3px;
	color: #777;
	text-shadow: 1px 1px 0px #fff;
}
.form-horizontal .label-note {
	font-size: 11px;
	color: @grey-font;
	padding-top: 10px;
}
.form-horizontal .control-label.required-hide .required {
	display: none;
}
.form-horizontal .form-descr-info {
	padding-bottom: 25px;
}

.datetimepicker {
	&, td.active{
		border-radius: 0!important;
	}
	td.active, span.hour.active, span.minute.active {
		background-image: none!important;
		background: @form-red!important;
	}
}

.checkbox input[type="checkbox"]:focus + label::before,
.checkbox input[type="radio"]:focus + label::before {
	outline: 0;
}
.radio input[type="radio"]:focus + label::before {
	outline: 0;
}
.checkbox-primary.red input[type="checkbox"]:checked + label::before,
.checkbox-primary.red input[type="radio"]:checked + label::before {
	background-color: #dd543e;
	border-color: #dd543e;
}
.radio-primary input[type="radio"] + label::after {
	background-color: @form-red;
}
.radio-primary input[type="radio"]:checked + label::before {
	border-color: @form-red;
}
.radio-primary input[type="radio"]:checked + label::after {
	background-color: @form-red;
}

.checkbox input[type="checkbox"]:checked + label:not(.checkbox-skip-color),
.radio input[type="radio"]:checked + label:not(.radio-skip-color) {
	color: @form-red !important;
	* {
		color: @form-red !important;
	}
}

.b-error-description .checkbox {
	margin-bottom: 0;
}
